.container-fluid{
  margin: auto;
  background-image: url('../../assets/images/pexels-fabian-wiktor-3573841.jpg') !important;
  height: 92vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 96%;
  opacity: .7;
  border-radius: 10px;
  position: relative;
  top: 10px;
}

h1{
  position:absolute;
  top: 150px;
  left: 250px;
   /*font-weight: bold;*/
  font-size: larger;

}

.body{
  text-align: center;
}

@media only screen and (max-width: 835px)  {
  .container-fluid{
     /* background-image: url('../../assets/images/SL_042620_30310_36.jpg') !important;*/
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 90vh;
      width: 100%;
      opacity: .8;
      border-radius: 10px;

  }

  h1{
      position:absolute;
      top: 200px;
      left: 100px;
      /* font-weight: bold; */
      font-size: large;

  }


}

@media only screen and (max-width: 500px)  {
  .container-fluid{
     /* background-image: url('../../assets/images/green-speech-bubble-icon-isolated.jpg') !important;*/
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 90vh;
      width: 100%;
      opacity: .8;
      border-radius: 10px;

  }





}

.info h1{

  font-size: 150px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 90px;
}
