/* You can add global styles to this file, and also import other style files */

body{
  background-image: url('../../frontend/src/assets/images/36.jpg') !important;
}
/* The navigation bar */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
